<!-- <div class="modal fade" id="eventModal" #eventModal tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">เพิ่มกิจกรรม</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="ปิด"></button>
      </div>
      <div class="modal-body">
        <input [(ngModel)]="newEventTitle" placeholder="เพิ่มชื่อหัวข้อ" class="form-control">
        <label for="eventStartDate">วันเวลา เริ่มต้น</label>
        <input type="datetime-local" id="eventStartDate" [(ngModel)]="newEventStartDate" class="form-control mb-3">
        
        <label for="eventEndDate">วันเวลา สิ้นสุด</label>
        <input type="datetime-local" id="eventEndDate" [(ngModel)]="newEventEndDate" class="form-control">

        <label for="responsible">ผู้รับผิดชอบ</label>
        <select class="form-select mb-3" id="responsible" [(ngModel)]="selectedResponsible">
            <option value="" disabled selected>กรุณาเลือกผู้รับผิดชอบ</option>
            <option *ngFor="let responsible of responsibles" [value]="responsible">{{ responsible }}</option>
        </select>

        <label for="eventLocation">สถานที่</label>
        <select class="form-select mb-3" id="eventLocation" [(ngModel)]="newEventLocation">
          <option value="" disabled selected>กรุณาเลือกสถานที่</option>
          <option *ngFor="let location of eventLocations" [value]="location">{{ location }}</option>
        </select>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn btn-primary" (click)="addEvent()">เพิ่ม</button>
      </div>
    </div>
  </div>
</div> -->

<div class="modal fade" id="eventModal" #eventModal tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">เพิ่มกิจกรรม</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="ปิด"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="tab1" data-bs-toggle="tab" href="#content1">Tab 1</a>
            </li>
            <li class="nav-item" *ngIf="isTabOneFilled">
                <a class="nav-link" id="tab2" data-bs-toggle="tab" href="#content2">Tab 2</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="content1" class="tab-pane fade show active">
                <label for="eventLocation">สถานที่</label>
                
                <select class="form-control" [(ngModel)]="newEventLocation">
                    <option *ngFor="let location of eventLocations" [value]="location">{{ location }}</option>
                    <option value="" disabled selected>กรุณาเลือกสถานที่</option>
                </select>

                <label for="eventStartDate">วันเวลา เริ่มต้น</label>
                <input type="datetime-local" id="eventStartDate" [(ngModel)]="newEventStartDate" class="form-control mb-3">
                
                <label for="eventEndDate">วันเวลา สิ้นสุด</label>
                <input type="datetime-local" id="eventEndDate" [(ngModel)]="newEventEndDate" class="form-control">
            </div>
           <div id="content2" class="tab-pane fade" *ngIf="isTabOneFilled">
                <label for="eventLocation">สถานที่</label>
                <select class="form-control" [(ngModel)]="newEventLocationTabTwo" (change)="onLocationChange()">
                    <option *ngFor="let event of events" [value]="event.location">{{ event.location }}</option>
                </select>

                <label for="responsible">ผู้รับผิดชอบ</label>
                <select class="form-control" [(ngModel)]="selectedResponsible">
                    <option *ngFor="let responsible of responsibles" [value]="responsible">{{ responsible }}</option>
                </select>

                <label for="eventStartDate">วันเวลา เริ่มต้น</label>
                <input type="datetime-local" id="eventStartDate" [(ngModel)]="newEventStartDateTabTwo" class="form-control mb-3">

                <label for="eventEndDate">วันเวลา สิ้นสุด</label>
                <input type="datetime-local" id="eventEndDate" [(ngModel)]="newEventEndDateTabTwo" class="form-control">
            </div>
        </div>
    </div>
    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn btn-primary" (click)="addEvent()">เพิ่ม</button>
      </div>
    </div>
  </div>
</div>



<full-calendar 
  [options]="calendarOptions"
  (click)="handleDateClick($event)">
</full-calendar>
