<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">เพิ่มกิจกรรม</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="ปิด"></button>
      </div>
      <div class="modal-body">
        <input [(ngModel)]="newEventTitle" placeholder="เพิ่มชื่อหัวข้อ" class="form-control">
        <label for="eventStartDate">วันเวลา เริ่มต้น</label>
        <input type="datetime-local" id="eventStartDate" [(ngModel)]="newEventStartDate" class="form-control mb-3">
        
        <label for="eventEndDate">วันเวลา สิ้นสุด</label>
        <input type="datetime-local" id="eventEndDate" [(ngModel)]="newEventEndDate" class="form-control">

        <label for="eventLocation">สถานที่</label>
        <select class="form-select mb-3" id="eventLocation" [(ngModel)]="newEventLocation">
          <option value="" disabled selected>กรุณาเลือกสถานที่</option>
          <option *ngFor="let location of eventLocations" [value]="location">{{ location }}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn btn-primary" (click)="addEvent()">เพิ่ม</button>
      </div>
    </div>
  </div>
</div>

<full-calendar 
  [options]="calendarOptions"
  (click)="handleDateClick($event)">
</full-calendar>
