<div class="container mt-5">
    <ul class="nav nav-tabs sticky-nav" id="myTabs">
        <li class="nav-item">
            <a class="nav-link active" id="support-tab" data-toggle="tab" href="#support">Calendar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile">ProfileDetail</a>
        </li>
    </ul>

    <div class="tab-content mt-3">
        <div class="tab-pane fade show active" id="support">
            <app-support-shift></app-support-shift>
        </div>
        <div class="tab-pane fade" id="profile">
            <app-profile-detail></app-profile-detail>
        </div>
    </div>
</div>
